@import "tailwindcss";

/* header{
    display: flex;
    padding-inline: 16px;
    padding-block: 8px;
    background-color: greenyellow;
    color: red;
    align-items: center;
    justify-content: center;
    font-size: 50px;
} */